<div class="div-painel" *ngIf="planeta.nome">

  <img class="imagem-planeta" src="https://drive.google.com/uc?id=1C7HmsPUqT8TkVuZ9OJlQrtG1L_Ho0LH3" alt="Planeta Terra"/>

  <p>Nome: <strong> {{ planeta.nome }}</strong></p>
  <p>Temperatura média: <strong>{{ planeta.temperatura }}ºC</strong></p>
  <p>Diâmetro: <strong>{{ planeta.diametro }} km</strong></p>
  <p>Dia: <strong> {{ planeta.dia }}</strong> | ano: <strong>{{ planeta.ano }}</strong></p>
  <p>Curiosidade: {{ planeta.curiosidade }}</p>
</div>

<div>
<img 
(click) = "ClicouNoPlaneta()"
class="imagem-planeta"
src="https://drive.google.com/uc?id=1C7HmsPUqT8TkVuZ9OJlQrtG1L_Ho0LH3"
alt="Planeta Terra"/>
</div>