<div class="div-painel" *ngIf="planetaSelecionado">

  <img class="imagem-planeta" [src]="planetaSelecionado.imagem" alt="Planeta Terra"/>

  <p>Nome: <strong> {{ planetaSelecionado.nome }}</strong></p>
  <p>Temperatura média: <strong>{{ planetaSelecionado.temperatura }}ºC</strong></p>
  <p>Diâmetro: <strong>{{ planetaSelecionado.diametro }} km</strong></p>
  <p>Dia: <strong> {{ planetaSelecionado.dia }}</strong> | ano: <strong>{{ planetaSelecionado.ano }}</strong></p>
  <p>Curiosidade: {{ planetaSelecionado.curiosidade }}</p>
</div>

<div *ngFor='let planeta of planetas'>

<img 
(click) = "ClicouNoPlaneta(planeta)"
class="imagem-planeta"
[src]="planeta.imagem"
alt="Planeta Terra"/>
</div>




