<div class="div-painel" *ngIf="nome">
  <img
    class="imagem-planeta"
    src="https://drive.google.com/uc?id=1C7HmsPUqT8TkVuZ9OJlQrtG1L_Ho0LH3"
    alt="Planeta Terra"
  />
  <p>Nome: <strong> {{nome}}</strong></p>
  <p>Temperatura média: <strong>{{temperatura}}ºC</strong></p>
  <p>Diâmetro: <strong>{{diametro}} km</strong></p>
  <p>Dia: <strong> {{dia}}</strong> | ano: <strong>{{ano}}</strong></p>
  <p>Curiosidade: {{curiosidade}}</p>
</div>

<div>
<img
(click) = "ClicouNoPlaneta()"
class="imagem-planeta"
src="https://drive.google.com/uc?id=1C7HmsPUqT8TkVuZ9OJlQrtG1L_Ho0LH3"
alt="Planeta Terra"
/>
</div>